/* Shared Styles */
.display-flex{
    display: flex;
}
.gray-text{
    color: #8987A1;
}
.black-text{
    color: #000000;
}
.orange-text{
    color: #E95A08;
}

.regular-font{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.bold-font{
    font-weight: bold;
}
.medium-font{
    font-weight: 500;
}

/* Navbar */
.navbar{
    justify-content: space-between;
    margin: 30px 150px;
    align-items: center;
}
.navbar img{
    width: 135px;
    height: 82px;
    
}
.items a{
    text-decoration: none;

}
.items{
    display: flex;
    gap: 48px;
}
#home{
    color: #252432;
    font-weight: bold;
}
.banner{
    align-items: flex-end;
    margin: 120px 150px;
}
.banner img{
    width: 50%;

}
.banner-title{
    width: 50%;
}
.banner-title h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}
.banner-title  p{
    font-size: 1.4rem;
    margin-bottom: 0px;


}
/* Our Plants Section */
.our-plants{
    margin: 120px 150px 0px 150px;
}
.plant-title{
    flex-direction: column;
    text-align: center;
}
.plant-title h2{
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0px;
   
}
.plant-title p{
    margin: 16px 126px 49px 126px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 20px;
    
}
.card{
    text-align: center;

}
.card p h3{
    font-size: 1.375rem;
}
.card img{
    width: 100%;
}
/* .card p{
    margin-bottom: 0px;
}
.card h3{
    margin-top: 20px;
} */
.card button{
    background-color: #E95A08;
    border: none;
    width: 100%;
    padding: 19px 80px;
    color: #FFFFFF;
    font-weight: 600;
    
}

/* Mobile Responsive */
@media screen and (max-width:576px) {
    .display-none{
        display: none;
    }
    .navbar{
        margin: auto;
    }
    .navbar img{
        width: 63px;
        height: 38px;
    }
    .banner{
        flex-direction: column-reverse;
        margin: auto;
    }
    .banner img{
        width: 100%;
    }
    .banner-title{
        width: 100%;
    }
    .banner-title h1{
        font-size: 2rem;
        font-weight: bold;
        margin-top: 28x;
        margin-left: 16px;
    }
    .banner-title p{
        font-style: 0.875rem;
        margin: 0px 16px;
    }

}