/* Shared Styles */
.display-flex {
    display: flex;
}

.gray-text {
    color: #8987A1;
}

.black-text {
    color: #000000;
}

.orange-text {
    color: #E95A08;
}

.regular-font {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.bold-font {
    font-weight: bold;
}

.medium-font {
    font-weight: 500;
}
.white-text{
    color: #FFFFFF;
}
.deal-images a{
    color: #FFFFFF;
}

/* Navbar */
.navbar {
    justify-content: space-between;
    margin: 30px 150px;
    align-items: center;
}

.navbar img {
    width: 135px;
    height: 82px;

}

.items a {
    text-decoration: none;

}

.items {
    display: flex;
    gap: 48px;
}

#home {
    color: #252432;
    font-weight: bold;
}

.banner {
    align-items: flex-end;
    margin: 120px 150px;
}

.banner img {
    width: 50%;

}

.banner-title {
    width: 50%;
}

.banner-title h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.banner-title p {
    font-size: 1.4rem;
    margin-bottom: 0px;


}

/* Our Plants Section */
.our-plants {
    margin: 120px 150px 0px 150px;
}

.plant-title {
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.plant-title h2 {
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0px;

}

.plant-title p {
    margin: 16px 126px 49px 126px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;

}

.card {
    text-align: center;

}

.card p h3 {
    font-size: 1.375rem;
}

.card img {
    width: 100%;
}

.card button {
    background-color: #E95A08;
    border: none;
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    font-weight: 600;

}
/* Lover Section */
.lover{
    margin: 210px 150px 0px 150px;
    gap: 60px;
    position: relative;
}
.lover-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lover h2{
    margin-top: 38px;
    margin-bottom: 0px;
}
.lover-title h2{
    font-size: 3.125rem;
}
.lover-title li{
    margin-top: 20px;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    left: 360px;
    top: -130px;
    transform-origin: center;
    will-change: transform;
    animation: spin 3s linear infinite;
    
}
@keyframes spin {
    from   { transform: rotate(0deg); }
    to     { transform: rotate(360deg); }
}
/* Deal Section */
.latest-deal{
    margin: 133px 150px 0px 150px;
}
.latest-deal h3 {
    text-align: center;
    font-size: 3.125rem;
    margin-bottom: 0px;

}
.latest-deal p{
    text-align: center;
    font-size: 1.25rem;
    margin:16px 276px 120px 276px;
}
.deal-images{
    display: flex;
    gap: 28px;
    width: 100%;
    height: 424px;
    
}
.img-group{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 25px;
    background-size: cover;
}
.first-img{
    background-image: url("../assets/deal-ana.png");
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.second-img{
    background-image: url("../assets/deal-bloom.png");
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}
.third-img{
    width: 70%;
    height: 100%;
    background-size: cover;
    background-image: url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;


}
.img-group h3{
    font-size: 1.25rem;
}
.third-img h3{
    font-size: 2.5rem;
}
.third-img a{
    font-size: 1.75rem;
}


/* Mobile Responsive */
@media screen and (max-width:576px) {

    /* Nav Section */
    .display-none {
        display: none;
    }

    .navbar {
        margin: auto;
    }

    .navbar img {
        width: 63px;
        height: 38px;
    }

    .banner {
        flex-direction: column-reverse;
        margin: auto;
    }

    .banner img {
        width: 100%;
    }

    .banner-title {
        width: 100%;
    }

    .banner-title h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 28x;
        margin-left: 16px;
    }

    .banner-title p {
        font-style: 0.875rem;
        margin: 0px 16px;
    }

    /* Our Plants section */
    .our-plants{
        margin: 65px 14px;
    }
    .plant-title p {
        margin: 16px auto 28px auto;
        

    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;
        gap: auto;
    }
    /* Lover Section */
    .badge{
        display: none;
    }
    .lover{
        flex-direction: column;
        margin: 16px;
    }
    .lover-img{
        width: 100%;
    }
    .lover h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    }
    .lover-title li{
        font-style: 0.875rem;
        margin-bottom: 16px;
    }
    /* Latest Deal Section */
    .latest-deal {
    margin: 143px 16px 39px 16px}
    .latest-deal p{
        margin:16px 28.5px 51.5px 28.5px ;
    }
    .deal-images{
        flex-direction: column;
        width: 100%;
        height: 581px;
    }
    .img-group{
        width: 100%;
        height: 67%;

    }
    .third-img{
        width: 100%;
        height: 33%;
    }
    .latest-deal h3{
        font-size: 1.25rem;
        font-weight: 700;
    }
    .latest-deal a{
        font-weight: 600;
    }
    
}